.header {
  max-width: 100%;
  margin: auto;
  padding: 2rem;
  display: flex;
  justify-content: center;
  background-color: white;

}

.list {
  display: flex;
  gap: 1rem;
}

.list a {
  text-decoration: none;
  color: black;
}

.list a:hover,
.list a.active {
  color: green;
  text-decoration: underline;
}

.username{
  color:black;
  font-weight: bold !important;
}

