.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:100px;
    margin-left:80px;
}

.formWrapper {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
}

.title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
}

/* Toggle Button Styling */
.toggleContainer {
    display: block;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
    height:395px;
    width:300px;
}

.toggleText {
    font-size: 16px;
    margin-right: 10px;
    color: #333;
}

.toggleButton {
    padding: 8px 15px;
    border: 1px solid darkcyan;
    background: white;
    cursor: pointer;
    transition: all 0.3s;
    font-size: 14px;
    margin: 0 5px;
    border-radius: 5px;
    color:black;
}

.toggleButton:hover {
    background: darkcyan;
    color: white;
}

.toggleButton.active {
    background: darkcyan;
    color: white;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    transition: border 0.3s;
    background-color: #4d5f5f;
}

.input:focus {
    border-color: darkcyan;
    background-color: rgb(179, 183, 183);
    color:black;
}

.input::placeholder{
    color:rgb(192, 190, 190);
}

.button {
    background-color: darkcyan;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
}

.button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.button:hover:not(:disabled) {
    background-color: darkcyan;
}

.gif{
    height:40%;
    justify-content: center;
    margin-left:70px;
    margin-bottom: 50px;
    margin-top:70px;
}

.flex{
    display: flex;
}

.error {
    color: red;
    font-size: 14px;
    margin-bottom: 10px;
}