/* .form {
    padding: 1rem;
    max-width: 25rem;
    margin: 2rem auto;
    border-radius: 4px;
    background: linear-gradient(180deg, #010202, #070707);
    color:black;
    border: green;
    border-style: dotted;
  }
  
  .input-group {
    display: flex;
    justify-content: space-evenly;
    gap: 1.25rem;
  }
  
  .form label {
    display: block;
    margin-bottom: 0.25rem;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 0.75rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #f0f3f3;
  }
  
  .form input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #fafafa;
    border-radius: 0.25rem;
    background-color: white;
    color: #090a0a;
    font-size: 1rem;
    font-weight:bold;
  }
  
  .actions {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
  
  .button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.25rem;
    background: rgb(83, 71, 8);
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    cursor: pointer;
  }
  
  .buttonAlt {
    font-family: 'Roboto Condensed', sans-serif;
    border: none;
    background: transparent;
    color: #c2e9e0;
    cursor: pointer;
  }
  
  button:hover {
    background: linear-gradient(180deg, #4a4b4b00, #585858);
    border: black;
    border-width: 1rem;
    color:black;
  }
  
  .buttonAlt:hover {
    background: transparent;
    color: #a2a7a6;
  }

  ::placeholder{
    color:rgb(5, 4, 4);
    font-size: small;
    font-weight: bold;
  } */